body {
  background: $body-bg !important;
  overflow: hidden;
  color: $text-color !important;
  font-family: opensans;
}

html, body, .sidenav, .left_sidebar, .page, .content {
  height: 100%;
}

input, button {
  &:focus {
    outline: none;
  }
}

button {
  border-color: transparent !important;
}